.product img {
  height: 286px;
  width: 286px;
  margin: 7px;
  border-radius: inherit;
}
.product {
  height: 508px;
  width: 300px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}

.product-info {
  margin-left: 14px;
}

.product-info .title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}
.product-info .price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #0e161a;
  margin-top: 10px;
}

.product-info .manufacture {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #2a414f;
  margin-top: 40px;
}

.product-info .ratings {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #2a414f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-cart {
  position: absolute;
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  padding: 12px 0px;
  bottom: 0;
  transition: .5s;
}

.btn-cart:hover{
    background-color: orange;
}
